= turbo_stream.remove 'new_note_form'

= turbo_stream.replace dom_id(@marked_point, :xvalue_of) do
  %span{id: dom_id(@marked_point, :xvalue_of)}= @marked_point.marked_for

= turbo_stream.append dom_id(@marked_point, :notes) do
  = render partial: 'marking_note', locals: { marking_note: @marking_note }

= turbo_stream.replace dom_id(@submission, :marked_for) do
  %span{id: dom_id(@submission, :marked_for)}= @submission.marked_for
