= turbo_stream.replace 'edit_note_form' do
  = render partial: 'marking_note', locals: { marking_note: @marking_note, objs: [@course, @group, @submission, @marked_point, @marking_note]}

= turbo_stream.replace dom_id(@marked_point, :xvalue_of) do
  %span{id: dom_id(@marked_point, :xvalue_of)}= @marked_point.marked_for

= turbo_stream.replace dom_id(@submission, :marked_for) do
  %span{id: dom_id(@submission, :marked_for)}= @submission.marked_for
