= turbo_page_requires_reload

%p
  %b Course:
  %span= @course_type.course.name
%p
  %b Name:
  %span= @course_type.name

.flex.gap-2
  = link_to 'Edit', edit_course_course_type_path(@course, @course_type)
  \|
  = link_to 'Back', course_path(@course)
