%h1 Listing templates

%wa-callout(variant="warning")
  Warning! This feature is even less implemented than all the others.

%table
  %thead
    %tr
      %th Name
      %th Course
      %th Data
      %th
      %th
      %th

  %tbody
    - @templates.each do |template|
      %tr
        %td= template.name
        %td= template.course
        %td= template.data
        %td= link_to 'Show', template
        %td= link_to 'Edit', edit_template_path(template)
        %td= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Template', new_template_path
