= form_for [@course, @group] do |f|
  = f.hidden_field :course_id, value: @course.id
  = f.wa_text :name

  = f.wa_date :year
  = f.wa_number :semester

  = f.wa_date :first_date
  = f.wa_number :repeat_times
  = f.wa_number :day_difference

  = f.wa_select :course_type_id, @group.course.course_types.map(&:to_select_value)

  -# = errorable_input @group, :course_types_id do
  -#   %wa-select{name: "group[course_types_id]", value: @group.course_types_id}
  -#     - @group.course.course_types.each do |course_type|
  -#       %wa-option{value: course_type.id}= course_type.name

  .flex.justify-end
    = f.wa_submit
