%h1.text-4xl.mb-4 Listing groups for #{@course.name}

= turbo_frame_tag 'groups-frame' do
  %table.w-full
    %thead
      %tr.border-b-4.border-wa-brand-border-loud
        %th Name
        %th Type
        %th
        %th
        %th

    %tbody
      - @groups.each do |group|
        %tr.border-b.border-wa-brand-border-loud
          %td= group.name
          %td= group.course_type.name
          %td= link_to 'Show', [@course, group]
          %td= link_to 'Edit', edit_course_group_path(group.course, group)
          %td= link_to 'Destroy', [@course, group], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Group', new_course_group_path(@course)
