%h1 Listing courseworks

= turbo_frame_tag "courseworks-frame" do
  %table.w-full
    %thead
      %tr.border-b-4.border-wa-brand-border-loud
        %th Name
        %th Course
        %th Group type
        %th
        %th
        %th

    %tbody
      - @courseworks.each do |coursework|
        %tr.border-b.border-wa-brand-border-loud
          %td= coursework.name
          %td= coursework.course.name
          %td= coursework.for_type.name
          %td= link_to 'Show', [@course, coursework]
          %td= link_to 'Edit', edit_course_coursework_path(@course, coursework)
          %td= link_to 'Destroy', [@course, coursework], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Coursework', new_course_coursework_path(@course)
