= turbo_page_requires_reload

%p
  %b Course:
  = @coursework.course.name
%p
  %b Name:
  = @coursework.name
%p
  %b For type:
  = @coursework.for_type.name
%p
  %b Active:
  = @coursework.active


.flex.gap-2.mt-4
  %wa-button{size: :small, href: edit_course_coursework_path(@course, @coursework)} Edit
  %wa-button{size: :small, href: course_path(@course, page: :courseworks)} Back

.flex.flex-col.gap-2.my-4._(class="mx-4 md:mx-0")
  %h2.text-3xl Rating points
  = render 'rating_points/header', objs: [@course, @coursework]

.w-full
  = turbo_frame_tag "rating-points-frame", src: course_coursework_rating_points_path(@course, @coursework) do
    .w-full.flex.flex-row.justify-center
      %wa-spinner.text-9xl
